<div class="page-content" id="gateway-container">
  <div class="page-header">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">Gateway Load Testing</h2>
    </div>
  </div>

  <div id="gateway-core">

    <div class="card my-5" id="gateway-form">
      <div class="card-body">

        <form (ngSubmit)="onSubmit()" #userForm="ngForm">
          <div class="form-group">
            <label for="ip">IP</label>
            <input type="text" [(ngModel)]="user && user.ip" class="form-control" id="ip"  name ="ip" placeholder="{{user.ip}}" #ip="ngModel">
          </div>

          <div class="form-group">
            <label for="port">Port Number</label>
            <input type="number" [(ngModel)]="user && user.port" class="form-control" id="port" value=4545 name="port" placeholder="{{user.port}}"
                   #port="ngModel">
          </div>
          <div class="form-group">
            <label for="endpoint">No of endpoints</label>
            <input type="number" [(ngModel)]="user && user.endpoint" class="form-control" id="endpoint" name="endpoint" placeholder="{{user.endpoint}}"
                   value=1 #endpoint="ngModel">
          </div>
          <div class="form-group">
            <label for="noOfOrders">No of Orders</label>
            <input type="number" [(ngModel)]="user && user.noOfOrders" class="form-control" id="noOfOrders" name="noOfOrders" placeholder="{{user.noOfOrders}}"
                   #noOfOrders="ngModel">
          </div>
          <div class="form-group">
            <label for="orderQty">OrderQuantity</label>
            <input type="number" [(ngModel)]="user && user.orderQty" class="form-control" id="orderQty" name="orderQty" placeholder="{{user.orderQty}}"
                   #noOfOrders="ngModel">
          </div>

          <button type="submit" class="btn btn-secondary">Save & Connect</button>

        </form>
      </div>
    </div>

    <div class="card my5"  id="message-type">
      <div class="card-body">


        <!--<ul>-->
          <!--<li><input type="checkbox">  Login</li>-->
          <!--<li><input type="checkbox">  Buying Power</li>-->
          <!--<li><input type="checkbox">  Account Summary</li>-->
          <!--<li><input type="checkbox">  Order List</li>-->
          <!--<li><input type="checkbox">  Order Search</li>-->
          <!--<li><input type="checkbox">  Customer Search</li>-->
          <!--<li><input type="checkbox">  Portfolio Details</li>-->
        <!--</ul>-->

        <label>Message Types</label>

          <div class="form-group" id="checkbox-container">
              <div *ngFor="let option of options">
                    <input type="checkbox"
                           name="options"
                           value="{{option}}"
                           [checked]="options.indexOf(option) < 0"
                           (change)="updateCheckedOptions(option, $event)"/>
                    {{option}}
                </div>
          </div>
        </div>

      <button id="send-btn" (click)="sendReq()" class="btn btn-secondary">Send Requests</button>

    </div>


  </div>


</div>
