<div class="page-content" id="gateway-container">
  <div class="page-header">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">Gateway Load Testing</h2>
    </div>
  </div>

  <div id="gateway-core">

    <div class="card my-5" id="gateway-form">
      <div class="card-body">

        <form (ngSubmit)="onSubmit()" >
          <div class="form-group">
            <label for="ip">IP</label>
            <input type="text" [(ngModel)]="gwUser.ip" class="form-control" id="ip"  name ="ip" placeholder="{{gwUser.ip}}">
          </div>

          <div class="form-group">
            <label for="port">Port Number</label>
            <input type="number" [(ngModel)]="gwUser.port" class="form-control" id="port" value=4545 name="port"
                   placeholder="{{gwUser.port}}" >
          </div>
          <div class="form-group">
            <label for="endpoint">No of endpoints (N/A for login messages)</label>
            <input type="number" [(ngModel)]="gwUser.endpoint" class="form-control" id="endpoint" name="endpoint"
                   placeholder="{{gwUser.endpoint}}">
          </div>
          <div class="form-group">
            <label for="repeatCount">Repeat Count</label>
            <input type="number" [(ngModel)]="gwUser.repeatCount" class="form-control" id="repeatCount" name="repeatCount"
                   placeholder="{{gwUser.repeatCount}}" >
          </div>
          <div id="time-config">
            <div class="form-group">
              <label for="period">Periodically</label>
              <br>
              <label class="switch">
                <input type="checkbox" id="period" name="period" [(ngModel)]="gwUser.periodically"  (change)="toggleVisibility($event)">
                <span class="slider round"></span>
              </label>
            </div>
            <div class="form-group" id="ordersPerSecContainer" >
              <label for="ordersPerSec">Orders per Second</label>
              <input type="number" [(ngModel)]="gwUser.ordersPerSec" class="form-control" id="ordersPerSec" name="ordersPerSec"
                     placeholder="{{gwUser.ordersPerSec}}" [disabled]="!isPeriodic" >
            </div>
          </div>


          <button type="submit" class="btn btn-secondary">Save & Connect</button>

        </form>
      </div>
    </div>

    <div class="card my5"  id="message-type">
      <div class="card-body">


        <!--<ul>-->
          <!--<li><input type="checkbox">  Login</li>-->
          <!--<li><input type="checkbox">  Buying Power</li>-->
          <!--<li><input type="checkbox">  Account Summary</li>-->
          <!--<li><input type="checkbox">  Order List</li>-->
          <!--<li><input type="checkbox">  Order Search</li>-->
          <!--<li><input type="checkbox">  Customer Search</li>-->
          <!--<li><input type="checkbox">  Portfolio Details</li>-->
        <!--</ul>-->

        <label>Message Types</label>

          <div class="form-group" id="checkbox-container">
              <div *ngFor="let option of options">
                    <input type="checkbox"
                           name="options"
                           value="{{option}}"
                           [checked]="options.indexOf(option) < 0"
                           (change)="updateCheckedOptions(option, $event)"/>
                    {{option}}
                </div>
          </div>
        </div>

      <button id="send-btn" (click)="sendReq()" class="btn btn-secondary">Send Requests</button>

    </div>


  </div>


</div>
