<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">Order System</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/users" class="btn btn-info">Request List</a></li>
            <li class="list-inline-item"><a routerLink="/start" class="btn btn-info">Start</a></li>
            <li class="list-inline-item"><a routerLink="/orders" class="btn btn-info">Place Order</a></li>
          </ul>
          
    </div>
      <router-outlet></router-outlet>
    </div>
  </div>
    <div class="col-md-6">
      <app-response>{{title}}</app-response>
    </div>
  
</div>