
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <input #fileInput type="file" ng2FileSelect [uploader]="uploader"/>
    </div>
    <div class="col-sm-6">
      <div class="statistic-block block"  [style.height]="'60px'" [style.margin]=" '0px' ">
      <form>
        <input type="number" [style.width]="'60px'" [style.background-color]="'blue'" [(ngModel)]="ordersPerTimeSlice && ordersPerTimeSlice.orderPerSlice"  id="orderPerSlice"  name ="orderPerSlice" (change)="onSubmitOrdersPerTimeSlice()"
               #orderPerSlice="ngModel" >
        :
        <input type="number" [style.width]="'40px'" [style.background-color]="'blue'" [(ngModel)]="ordersPerTimeSlice && ordersPerTimeSlice.timePeriod"  id="timePeriod"  name ="timePeriod" (change)="onSubmitOrdersPerTimeSlice()"
               #timePeriod="ngModel" > &nbsp;
        <!--GWClient<input type="checkbox" [style.heigt]="'60px'"[(ngModel)]="ordersPerTimeSlice && ordersPerTimeSlice.GWClient"  name ="GWClient" (change)="onSubmitOrdersPerTimeSlice()"  #GWClient="ngModel">-->
      </form>
      </div>
    </div>
  </div>
</div>
 <div class="card my-5">
  <div class="card-body">

    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="ip">IP</label>
        <input type="text" [(ngModel)]="user && user.ip" class="form-control" id="ip"  name ="ip" (change)="onSubmit()"
           #ip="ngModel">
      </div>
      
      <div class="form-group">
        <label for="port">Port Number</label>
        <input type="number" [(ngModel)]="user && user.port" class="form-control" id="port" value=8181 name="port" placeholder="192.168.0.50"
          required (change)="onSubmit()" #port="ngModel">
     </div>
      <div class="form-group">
        <label for="endpoint">No of endpoints</label>
        <input type="number" [(ngModel)]="user && user.endpoint" class="form-control" id="endpoint" name="endpoint" placeholder="No of endpoints" value=1 (change)="onSubmit()"
           #endpoint="ngModel">
       </div>
      <div class="form-group">
        <label for="noOfOrders">No of Orders</label>
        <input type="number" [(ngModel)]="user && user.noOfOrders" class="form-control" id="noOfOrders" name="noOfOrders" placeholder="No of Orders"
          required (change)="onSubmit()" #noOfOrders="ngModel">
      </div>
      <div class="form-group">
        <label for="orderQty">OrderQuantity</label>
        <input type="number" [(ngModel)]="user && user.orderQty" class="form-control" id="orderQty" name="orderQty" placeholder="OrderParam Quantity"
          required (change)="onSubmit()" #noOfOrders="ngModel">
      </div>
    
    </form>
  </div>
</div>
